* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  overflow-y: auto;
  justify-content: center;

  min-height: 100vh;

  background: url('../../style/watercolor-5380352_960_720.jpg') no-repeat;
  background-size: 100% 100%;
}

.App {
  width: 800px;
  min-height: fit-content;
  margin: 20px;
  padding: 0 100px 20px;

  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 5px 5px rgba(20, 19, 19, 0.3);
}

.list-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;

  text-align: center;

  color: #630330;
}

.separator {
  margin: 15px 0;
}

.task-enter {
  opacity: 0;
}

.task-enter-active {
  transition: opacity 200ms ease-in;

  opacity: 1;
}

.task-exit {
  opacity: 1;
}

.task-exit-active {
  transition: opacity 200ms ease-in;

  opacity: 0;
}
