* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.task {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-content: center;
}

.list-header {
  text-align: center;
}

.separator {
  margin: 15px 0;
}

.task-enter {
  opacity: 0;
}
.task-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.task-exit {
  opacity: 1;
}
.task-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
