.styledButton {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-size: 14px;

  height: fit-content;
  margin: 0 10px 10px;
  padding: 5px 15px;

  cursor: pointer;
  text-transform: uppercase;

  color: #fffddc;
  border: 2px solid #630330;
  border-radius: 20px;
  background: -webkit-linear-gradient(90deg, #974797 0%, #d8bfd8 100%)
    transparent;
}

.styledButton:hover {
  background: #b394b3;
}
