/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/base/ModalWindow/modalWindow.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5); }

.modal-window__content {
  min-width: 250px;
  padding: 25px;
  border: 2px solid #fdffe0;
  border-radius: 15px;
  background: #974797;
  background: -webkit-linear-gradient(90deg, #682f68 0%, #ca77ca 100%); }

.modal-window--active {
  display: flex;
  align-items: center;
  justify-content: center; }

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/CreateButton/createButton.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.create-button__container {
  display: flex;
  justify-content: center; }

.create-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  width: 50px;
  margin: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fffddc;
  border: 2px solid #630330;
  border-radius: 50%;
  background: -webkit-linear-gradient(90deg, #974797 0%, #d8bfd8 100%) transparent; }

.create-button:hover {
  background: #b394b3; }

/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/base/Button/button.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-size: 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 10px 10px;
  padding: 5px 15px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fffddc;
  border: 2px solid #630330;
  border-radius: 20px;
  background: -webkit-linear-gradient(90deg, #974797 0%, #d8bfd8 100%) transparent; }

.button:hover {
  background: #b394b3; }

/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/base/Input/input.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.input {
  width: 100%;
  margin: 5px 0;
  padding: 5px 15px;
  border: 2px solid #630330;
  border-radius: 10px; }

.input__checkbox {
  width: 30px;
  height: 30px;
  margin: 0 10px; }

/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/base/Select/select.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.select {
  font-size: 20px;
  text-align: center;
  color: #630330;
  border: 2px solid #630330;
  border-radius: 15px;
  background: -webkit-linear-gradient(90deg, #c2afc2 0%, #f8e5f8 100%) transparent; }

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/TaskStatusFilter/taskStatusFilter.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.task__status-filter-container {
  display: inline-flex;
  width: 30%;
  margin: 10px; }

@media (max-width: 700px) {
  .task__status-filter-container {
    display: flex;
    margin-left: 30px; } }

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/TaskFilter/taskFilter.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.task__filter-container {
  display: block;
  width: 100%; }

.task__filter-select-section {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.task__filter-separator {
  margin: 15px 0; }

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/TaskItem/taskItem.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.task__item {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 15px 10px;
  border: 2px solid #630330;
  border-radius: 30px;
  text-decoration: none;
  background: -webkit-linear-gradient(90deg, rgba(250, 248, 240, 0.605) 0%, rgba(255, 239, 169, 0.605) 100%);
  box-shadow: 0 0 10px 5px rgba(149, 105, 136, 0.405); }

.task__item--done {
  display: inline;
  text-decoration: line-through; }

.task__item:hover {
  background: -webkit-linear-gradient(90deg, rgba(248, 246, 240, 0.808) 0%, rgba(255, 239, 169, 0.849) 100%); }

.task__item-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 70%;
  color: #630330; }

.task__item-body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  margin-left: 25px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #e9c0d3; }

.task__item-buttons {
  display: flex; }

.input__checkbox {
  width: 30px;
  height: 30px;
  margin: 0 10px; }

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/TaskList/taskList.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.task-list__header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  color: #630330; }

.task-enter {
  opacity: 0; }

.task-enter-active {
  transition: opacity 200ms ease-in;
  opacity: 1; }

.task-exit {
  opacity: 1; }

.task-exit-active {
  transition: opacity 200ms ease-in;
  opacity: 0; }

/*!***************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/App/App.css ***!
  \***************************************************************************************************************************************************************************************************************************************************/
.App {
  width: 800px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 20px;
  padding: 0 100px 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 5px 5px rgba(20, 19, 19, 0.3); }

/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/css/common.css ***!
  \**************************************************************************************************************************************************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#root {
  display: flex;
  overflow-y: auto;
  justify-content: center;
  min-height: 100vh;
  background: url(bd78985e653e395aebec.jpg) no-repeat;
  background-size: 100% 100%; }

